body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: black;
}

a {
  color:black
}

a:hover {
  color:black
}

.padding-vertical {
  padding-top: 3em;
  padding-bottom: 3em;
}

.navbar-customn {
  background-color: white !important;
  -webkit-box-shadow: 0px -4px 42px -9px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -4px 42px -9px rgba(0,0,0,0.2);
  box-shadow: 0px -4px 42px -9px rgba(0,0,0,0.2);
}

.nav-item {
  padding-left: 30px;
  padding-right: 30px;
}

.nav-link {
  text-transform: uppercase;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 1.25em;
  color: black
}

a.left {
    position: relative;
    color: black;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

a.left:focus:before {
  visibility: visible;
  width: 100%;
}

.active > a.left:before {
  visibility: visible;
  width: 20px;
}

.active > a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.nav-logo {
  height: 80px;
}

.nav-padding {
  height: 80px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.section {
  padding-top: 4em;
  padding-bottom: 4em;
}

.slides {
  height: calc(100vh - 80px);
  min-height: 600px;
  width: 100vw;
  position: relative;
}

.slide-content-centered {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 15%;
  padding-right: 15%;
}

.slide-stat {
  font-size: 6.25em;
  color: red;
  text-align: left;
  font-weight: bold;
}

.slide-line {
  font-size: 3em;
  text-align: left;
  color: #707070;
  margin-top: -0.6em;
}

.slide-subline {
  font-size: 1.25em;
  text-align: left;
  /* color: white; */
  font-style: italic;
}

.img-voter-suppression {
  align-self: center !important;
  text-align: center;
}

.background-screen {
  /* background-color: #0000005e; */
  padding: 3em 0 3em 0;
}

.section-question {
  padding: 2.5em 1em 2.5em 1em;
}

.section-question-title {
  font-size: 3em;
}

.left-border-text {
  margin-top: 1.5em;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
  padding-left: 36px;
  border-left: 4px solid black;
}

.learn-more-wrapper {
  position: relative; 
  display: inline;
  margin-left: 20px;
}

a.learn-more {
  color:black;
  font-style: italic;
  font-size: 1.5em;
  text-decoration: none;
}

a.learn-more:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.learn-more:hover:before {
  visibility: visible;
  width: 100%;
}

a.learn-more:focus:before {
  visibility: visible;
  width: 100%;
}

.section-container {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.section-header {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.section-underline {
  font-size: 3em;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -1.50em
}

.section-underline>span {
  border-bottom: 3px solid black;
}

.section-learn-more {
  padding-top: 1.5em;
  font-size: 1.5em;
  text-align: center;
  color: black
}

.section-description {
  font-size: 1.5em;
}

.section-hero-img {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  padding-top: 2em;
}

.section-hero-img-details {
  font-size: 1.25em;
  padding-top: 2em;
}

.fight-voter-suppression-img {
  max-width: 450px;
}

.social-img {
  margin:2em;
  width: 50px;
}

.social-container{
  height: calc(100vh - 80px - 8em);
  align-self: center;
  position: relative;
}

.absolutely-center {
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.map-w-legend-img {
  padding: 0;
  margin-top: -1em;
}

.map-legend-img {
  max-width: 420px;
  padding-top: 2em;
}

.gerrymandering-img {
  max-height: 400px;
}

.voting-rights-img {
  max-height: 450px;
  margin-top: 40px;
}

.minority-turnout-img {
  width: 100%;
  height: 100%;
  max-width: 1100px;
}

.minority-turnout-details {
  text-align: justify;
}

.sources {
  text-align: left;
}

.sources > a {
  font-size: 1em;
}

.mission-img {
  margin-top: 10px;
  max-width: 400px;
}

.fight-bullets {
  margin-top: 2.5em;
}

.get-out-to-vote-container {
  margin-top: 2em;
  position: relative;
  width: 500px;
  height: 1000px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.rock-vote-img{
  position: absolute;
  top: 535px;
  left: 0;
  width: 500px;
}
.woke-vote-img{
  position: absolute;
  height: 245px;
  top: 0;
  left: 0;
}
.vote-participation-img{
  position: absolute;
  top: 255px;
  width: 500px;
  left: 0
}
.fair-fight-img{
  position: absolute;
  top: 429px;
  right: 0;
  height: 80px;
}
.i-will-vote-img{
  position: absolute;
  top: 425px;
  left: 0;
  height: 100px;
}
.and-still-i-vote-img{
  position: absolute;
  height: 245px;
  top: 0;
  right: 0;
}
.vote-org-img{
  position: absolute;
  top: 336px;
  left: 0;
  height: 80px;
}
.vote-411-img{
  position: absolute;
  top: 340px;
  right: 0;
  height: 75px;
}