.container-fluid {
  overflow: hidden;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.letter {
  padding: 20px;
  display: block;
}

.letter-script {
font-family: 'Lato', sans-serif;
  font-size: 1em !important;
  color: #4a4a4a;
  margin: auto !important;
}

.signature {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}
.paper-bg {
  background-image: url('/img/paper-texture.jpg');
  background-repeat: repeat;
}


a {
  color:gray;
}

a:hover {
  color:black
}

.centered-list {
  display: table;
  margin: 0 auto;
}

.centered-list > li {
  text-align: left;
}

.padding-vertical {
  padding-top: 3em;
  padding-bottom: 3em;
}

.navbar-customn {
  background-color: white !important;
  -webkit-box-shadow: 0px -4px 42px -9px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -4px 42px -9px rgba(0,0,0,0.2);
  box-shadow: 0px -4px 42px -9px rgba(0,0,0,0.2);
}

.nav-item {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-link {
  text-transform: uppercase;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 1em;
  color: black
}

a.left {
    position: relative;
    color: black;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

a.left:focus:before {
  visibility: visible;
  width: 100%;
}

.active > a.left:before {
  visibility: visible;
  width: 20px;
}

.active > a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.nav-logo {
  height: 65px;
}

.nav-padding {
  height: 86px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.slides {
  height: calc(100vh - 90px);
  min-height: 600px;
  width: 100vw;
  position: relative;
}

.slide-content-centered {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 15%;
  padding-right: 15%;
}

.slide-stat {
  font-size: 4em;
  color: red;
  text-align: left;
  font-weight: bold;
}

.slide-line {
  font-size: 2em;
  text-align: left;
  color: black;
  margin-top: -0.5em;
}

.slide-subline {
  font-size: 1em;
  text-align: left;
  /* color: white; */
  color: gray;
  font-style: italic;
}

.img-voter-suppression {
  align-self: center !important;
  text-align: center;
}

.background-screen {
  /* background-color: #0000005e; */
  padding: 3em 0 3em 0;
}

.section-question {
  padding: 2.5em 1em 2.5em 1em;
}

.section-question-title {
  font-size: 2em;
}

.left-border-text {
  margin-top: 1.5em;
  font-size: 1.25em;
  /*font-style: italic;*/
  font-weight: 300;
  padding-left: 36px;
  border-left: 3px solid #bbbbbb;
}

.learn-more-wrapper {
  position: relative; 
  display: inline;
  margin-left: 10px;
}

.bg-slider {
  --initialTextColor: #000;
  --slideTextColor: #272838;

  --initialBgColor: yellow;
  --slideBgColor: #FFF;

  color: var(--initialTextColor);

  background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
  background-size: 200%;
  transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
  transition-delay: 0.0s, 0.15s;
}

.bg-slider:hover {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;
}

a.learn-more {
  color:black;
  /* font-style: italic; */
  font-size: 1.25em;
  text-decoration: none;
}

a.learn-more:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.learn-more:hover:before {
  visibility: visible;
  width: 100%;
}

a.learn-more:focus:before {
  visibility: visible;
  width: 100%;
}

.learn-more-link {
  font-size: 1.25em;
  margin-top: 20px;
}

.learn-more-link>button {
  font-size: 1em;
}

.section-container {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.section-header {
  font-size: 2em;
  text-align: center;
}

.section-underline {
  font-size: 2em;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -1.50em
}

.section-underline>span {
  border-bottom: 3px solid black;
}

.section-learn-more {
  padding-top: 1.5em;
  font-size: 1.5em;
  text-align: center;
  color: black
}

.section-description {
  font-size: 1.25em;
}

.section-hero-img {
  width: 100%;
  height: 100%;
  max-width: 768px;
  padding-top: 2em;
}

.section-hero-img-details {
  font-size: 1.1em;
  padding-top: 2em;
}

.fight-voter-suppression-img {
  max-width: 450px;
}

.social-img {
  margin:2em;
  width: 50px;
}

.social-container{
  height: calc(100vh - 90px - 4em);
  align-self: center;
  position: relative;
}

.absolutely-center {
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.map-w-legend-img {
  padding: 0;
  margin-top: -1em;
}

.map-legend-img {
  max-width: 360px;
  padding-top: 2em;
}

.gerrymandering-img {
  max-height: 400px;
  margin-top: 25px;
}

.voting-rights-img {
  max-height: 450px;
  margin-top: 10px;
}

.minority-turnout-img {
  width: 100%;
  height: 100%;
  max-width: 1100px;
}

.minority-turnout-details {
  text-align: justify;
}

.sources {
  text-align: left;
}

.sources > a {
  font-size: 1em;
}

.mission-img {
  margin-top: 10px;
  max-width: 400px;
  width: auto;
  height: auto;
}

.fight-bullets {
  margin-top: 2.5em;
}

.get-out-to-vote-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.get-out-to-vote-container {
  margin-top: 2em;
  position: relative;
  width: 500px;
  height: 1000px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.rock-vote-img{
  position: absolute;
  top: 535px;
  left: 0;
  width: 500px;
}
.woke-vote-img{
  position: absolute;
  height: 245px;
  top: 0;
  left: 0;
}
.vote-participation-img{
  position: absolute;
  top: 255px;
  width: 500px;
  left: 0
}
.fair-fight-img{
  position: absolute;
  top: 429px;
  right: 0;
  height: 80px;
}
.i-will-vote-img{
  position: absolute;
  top: 425px;
  left: 0;
  height: 100px;
}
.and-still-i-vote-img{
  position: absolute;
  height: 245px;
  top: 0;
  right: 0;
}
.vote-org-img{
  position: absolute;
  top: 336px;
  left: 0;
  height: 80px;
}
.vote-411-img{
  position: absolute;
  top: 340px;
  right: 0;
  height: 75px;
}

.footer-section {
  padding: 2em 1em 2em 1em
}

.footer-section > container-fluid {
  background: white;
}


.footer-logo-wrapper {
  align-self: flex-end;
}

.footer-logo-wrapper>img {
  width: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  .nav-logo {
    height: 60px;
  }

  .nav-item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-link {
    font-size: 1em;
  }

  .slides {
    min-height: 400px;
  }

  .slide-stat {
    font-size: 2.5em;
  }
  
  .slide-line {
    font-size: 1.5em;
  }

  .slide-subline {
    font-size: 0.75em;
  }

  .section {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .section-question {
    padding: 1.5em 0.75em 1.5em 0.75em;
  }

  .section-question-title {
    font-size: 2em;
  }

  .left-border-text {
    margin-top: 0.75em;
    font-size: 1.25em;
  }

  .learn-more-wrapper {
    margin-left: 14px;
  }

  .img-voter-suppression {
    height: 100%;
  }

  .section-header, .section-underline {
    font-size: 2em;
  }

  .section-description {
    font-size: 1.25em;
  }

  .section-hero-img-details {
    font-size: 1em;
  }

  .social-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .social-container{
    height: calc(100vh - 80px - 6em);
    align-self: center;
    position: relative;
  }

  .mission-img {
    margin-top: -5px;
    max-width: 200px;
  }

  .padding-vertical {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .gerrymandering-img {
    /* width: 100%; */
    height:100%;
  }

  .get-out-to-vote-wrapper {
    width: 300px;
    height: 460px;
  }

  .get-out-to-vote-container {
     transform: scale(0.58);
     transform-origin: top left;
  }

  .map-legend-img {
    width: 100%;
  }

  .footer-logo-wrapper>img {
    width: 120px !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
  .nav-logo {
    height: 60px;
  }

  .nav-item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-link {
    font-size: 1em;
  }

  .slides {
    min-height: 400px;
  }

  .slide-stat {
    font-size: 2.5em;
  }
  
  .slide-line {
    font-size: 1.5em;
  }

  .slide-subline {
    font-size: 0.75em;
  }

  .section {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .section-question {
    padding: 1.5em 0.75em 1.5em 0.75em;
  }

  .section-question-title {
    font-size: 2em;
  }

  .left-border-text {
    margin-top: 0.75em;
    font-size: 1.25em;
  }

  .learn-more-wrapper {
    margin-left: 14px;
  }

  .img-voter-suppression {
    height: 100%;
  }

  .section-header, .section-underline {
    font-size: 2em;
  }

  .section-description {
    font-size: 1.25em;
  }

  .section-hero-img-details {
    font-size: 1.25em;
  }

  .social-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .social-container{
    height: calc(100vh - 80px - 6em);
    align-self: center;
    position: relative;
  }

  .mission-img {
    margin-top: -5px;
    max-width: 200px;
  }

  .padding-vertical {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .gerrymandering-img {
    /* width: 100%; */
    height:100%;
  }

  .get-out-to-vote-wrapper {
    width: 444px;
    height: 680px;
  }

  .get-out-to-vote-container {
     transform: scale(0.9);
     transform-origin: top left;
  }

  .footer-logo-wrapper>img {
    width: 130px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .slide-stat {
    font-size: 4em;
  }
  
  .slide-line {
    font-size: 2em;
  }

  .slide-subline {
    font-size: 1em;
  }

  .section-header {
    font-size: 2.5em;
  }

  .section-underline{
    font-size: 2.5em;
  }

  .footer-logo-wrapper>img {
    width: 160px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .slide-stat {
    font-size: 5em;
  }
  
  .slide-line {
    font-size: 2em;
  }

  .slide-subline {
    font-size: 1em;
  }

  .section-header, .section-underline {
    font-size: 2.5em;
  }

  .section-description {
    font-size: 1.25em;
  }

  .section-hero-img-details {
    font-size: 1em;
  }

  .nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}
